﻿
@{
    ViewBag.Title = "Contact us";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Contact | E-Shopper</title>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/Libs/Toastr/toastr.min.js"></script>
    <script src="~/Scripts/Pages/shop.js"></script>
</head><!--/head-->
<body>

    <div style="width: 100%">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.0013902196133!2d24.000889100000013!3d49.84243140000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add9b6a54e3bd%3A0x3628c3b0b374b775!2sEPAM+Systems!5e0!3m2!1sen!2sua!4v1438676522722" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>    </div>

    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">Get In Touch</h2>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                            <div class="form-group col-md-12">
                                <input id="subject-message" type="text" name="subject" class="form-control" required="required" placeholder="Subject">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your Message Here"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="button" class="SendMail btn btn-primary center-block" width="150">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">Contact Info</h2>
                        <address>
                            <p>BE-STYLE</p>
                            <p>79000 O.Stepanivny street 45, Lviv</p>
                            <p>Ukraine</p>
                            <p>Mobile: +38067 335 70 55</p>
                            <p>Fax: +38067 335 70 55</p>
                            <p>Email: bestyle.team@gmail.com</p>
                        </address>
                        <div class="social-networks">
                            <h2 class="title text-center">Social Networking</h2>
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/#contact-page-->

</body>
</html>

