﻿body {
    margin: 0;
    /*background: url(../Images/background/images5.jpg) no-repeat center center fixed;*/
    /*background: url('../Images/Background.png') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#loadingDiv {
    position: absolute center center;
}

.footer-init {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(34, 34, 34);

    color: #777;
    border-top: 2px solid #444;
}



#constructor {
    margin-top: 50px;
    margin-left: 10%;
    /*background: url(../Images/constructor/4.jpg) no-repeat center center fixed;*/
    background-color: #F0F0E9;
    /*background-image: url('../Images/constructor/4.jpg');*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    width: 800px;
    height: 500px;
    position: relative;
    border: 1px solid orange;
}


#imgMainClose {
    width: 95%
}
#imgPositionCloser {
	width: 140px; 
	height: 210px; 
	border: solid 1px gray;
	position: absolute;
	left: 29%;
	top: 15%;	
	overflow: hidden;
	
	/* Центрування Картинки по центру футболки */
    display: flex;
    align-items: center;
    justify-content: center; 
}
#imgPositionCloser img {
	position: relative;
}

.icons {
	width: 7%;
	display: inline-block;
	position: absolute;
	right: 0%;
	top: 2%;
}
.icons img {
	width: 50%;
	display: block; 
	padding: 3px;  
}
.icons img:hover {
	border: 1px solid orange;
}

.logo-picture {
    max-height: 70px;
    width: 30px;
    /*height: 30px;*/
}

.logo-size {
	width: 50%;
	display: inline-block;
	position: absolute;
	top: 1%;	
	left: 45%;
}
.logo-size img {
	padding: 3px;  
    width: 30px;
}
.logo-size img:hover {
	border: 1px solid orange;
}

.closer-size {
	width: 30%;
	display: inline-block;
	position: absolute;
	bottom: 2%;	
	left: 40%;
}
.closer-size div {
	display: block; 
	padding: 5px;  
	float: left; 
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 16px; 
   font-weight: bold
}
.closer-size div a {
   display: block; 
   padding: 2px;
    color: black; 
   text-decoration: none;
}
.closer-size div a:hover {
	border: 1px solid #999;
}

#basket {
	position: absolute;
	bottom: 10px;
	right: 150px;
}
#addFromConstructor:hover {
	border: 1px solid #999;
}
#productPrice {
    position: absolute;
    bottom: 5px;
    right: 20px;
    color: orange;
}
#logoScale {
    position: absolute;
    top: 5px;
    left: 300px;
    color: black;
}

.result {
	width: 400px;
	height: 400px;
	position: absolute;
	bottom: 50px;
	left: 250px;
	background: white;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#pictures {
	display: inline;
	width: 200px;
	height: 450px;
	overflow: auto;
	float: left;
	background: white;
	position: absolute;
	bottom: 0;
	left: 0;
}
#pictures img{
	display: inline-block;
	float: left;
	padding: 2px;
	width: 50px;
    position: center center;
}
/*#pictures img:hover {
	border: 1px solid orange;
}*/
#pictures .single-products2 {
    width: 60px;
    height: 70px;
    display: inline-block;
	float: left;
	padding: 4px;
}
#pictures .single-products2:hover {
   	border: 1px solid orange;
}


#closes {
	display: inline;
	width: 100px;
	height: 450px;
	overflow: auto;
	float: left;
	background: white;
	position: absolute;
	bottom: 0;
	right: 0;
}
#closes img{
	float: left;
	padding: 2px;
 	width: 95%;
 }
 #closes img:hover {
	border: 1px solid orange;
}

 #front-back {
     position: absolute;
     bottom: 5px
 }
#front-back img{
    width: 12%     
 }


.file-input {
    position: relative;
    overflow: hidden;
    margin: 16px 0;
    left: 35px;
    top: 0px;
    width: 130px;
}

.file-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*#my{
    background-image:url("http://www.yiiframework.ru/forum/styles/yiiframework_ru/theme/images/yii_logo.png");
}*/