﻿@model List<BeStyle.Entities.CategoryEntity>
@{
    int cartItemCount;
    if (Session["Cart"] != null)
    {
        cartItemCount = ((BeStyle.FrontEnd.WebUI.Models.Cart)Session["Cart"]).Items.Count();
    }
    else
    {
        cartItemCount = 0;
    }
}

<div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="mainmenu pull-left">
                    <ul class="nav navbar-nav collapse navbar-collapse">
                        <li><a href="@Url.Action("Shop", "Shop")"><img src="~/App_Themes/Default/Images/logo/BeStyle grey.png" class="hvr-wobble-to-bottom-right" style="height: 30px;" /></a></li>
                        <li class="dropdown">
                            <a href="@Url.Action("Shop", "Shop")">Shop<i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                @foreach (var category in Model)
                                {
                                    <li>@Html.ActionLink(@category.Category, "ShopByCategory", "Shop", new { categoryId = @category.Id }, null)</li>
                                }
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Index", "Constructor")">Constructor</a></li>
                        <li><a href="@Url.Action("Contact", "Contact")">Contact</a></li>
                        <li style="position:absolute; right: -250px; top: -10px;">
                            <div class="shop-menu pull-right">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="@Url.Action("CartSummary", "Cart")">
                                            <i class="fa fa-shopping-cart"></i>
                                               Cart   <span id="cart-item-count" class="badge badge-info">@cartItemCount</span>
                                        </a>
                                    </li>
                                    @Html.Action("Security", "Security")
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--/header-bottom-->
