﻿@model BeStyle.FrontEnd.WebUI.Models.AccountModels.SecurityModel

@if (!Model.IsAuthenticated)
{
    <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-lock"></i> Log in</a></li>
}
else
{
    <li class="dropdown">
        <a href="@Url.Action("UserProfile", "Account")"><i class="fa fa-user"></i> @Model.UserName<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a href="@Url.Action("LogOut", "Account", new { returnUrl = Request.Url.PathAndQuery })"><i class="fa fa-sign-out"></i>Log out</a></li>
        </ul>
    </li>
}
