﻿input {
    margin-bottom: 15px;
    margin-left: 7px;
}

.center {
    width: 100%;
    height: 100%;
    position: relative;
    top: 20px;
    left: 10px;
    display: flex;
    justify-content: center; 
    overflow: auto; 
}

.error {
    top: 50%;
    background-position: center;
    height: 300px;
    text-align:center;
    font: bold 32px Tahoma;
    color: red;
    margin-top:30%;
}


body {
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    overflow: scroll;
}

header {
    position: relative;
    right: 5%;
}
.mainMenu {
    position: relative;
    left: 0px;
    display: inline-block;
    width: 100%;
    /*height: 80px;*/
    /*line-height: 100px;*/
}
.menuMap {
    line-height: 70px;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -200px;
	bottom: -100px;
	width: auto;
	height: auto;
   	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255, 255, 0)), color-stop(100%,rgb(12, 7, 79))); 
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));*/ 
	z-index: -1;
	opacity: 0.7;
}

footer {
	position: fixed;
	color: rgb(255, 255, 255);
	font-size: 13px;
	padding: 20px;
	margin-bottom: 10px;
    bottom: 0%;
}

.logotype {
    display: block;
    float: left;
    width: 150px;
    margin-top: 15px;
    height: 70px;
    background: url('Images/BeStyle grey.png') no-repeat;
    background-size: 100% 100%;
    line-height: 100px;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    color: #1f6ea0;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}
.logotypeInLogin {
    display: flex;
    float: none;
    width: 25%;
    height: 25%;
    margin-top: 15px;
    background: url('Images/BeStyle grey.png') no-repeat;
    background-size: 100% 100%;
    line-height: 100px;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    color: #1f6ea0;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}

/* ******************LoginStyle.css******************************/

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
}

.login-input {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 5px;   
    letter-spacing: 1px;
    font-family:'Times New Roman', serif;        
    cursor: pointer;
}
.login-input:focus {
    cursor: text;
}

.login-background {
    background: url('Images/login_background.png');   
}
.password-background {
    background: url('Images/password_background.png');
}

.init-text {
    letter-spacing: 1px;
    margin-top: 25px;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border-color: #3498db; 
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
  background: #edb832;
  border-color: #edb832; 
  text-decoration: none;
}

/***************Big Picture*************************/
.picture2 {
    width: 50px;
    height: 50px;
}
/*.picture2:hover {
    width: 100%;
    height: 100%;
}*/