.navigation {
   list-style: none; 
      width: 100%;
	  height: 60px;
	  display: inline-block;
 }
.navigation li, div {
   float: left; 
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 24px; 
   font-weight: bold;
}
.navigation li a {
   display: block; 
   padding: 15px 20px;  
    color: black; 
   text-decoration: none; 
   text-shadow: 2px 2px 2px #000;
   opacity: 0.5;
}
.navigation li a:hover {
   //background: #92d3d3; 
   //color: #6b6b6b;  
   opacity: 1;   
}

.money {
   list-style: none; 
   width: 100%;
	display: inline-block;
	background: black;
}
.money li, span {
   float: left; 
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 14px; 
}
.money li a, span {
   display: block; 
   padding: 10px 30;  
   background: black; 
   color: white; 
   text-decoration: none; 
}
.money li a:hover {
   background: gray; 
}

body {
	margin: 0;
	background: url(images/background/images5.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

header {
	width: 100%;
	height: 10%;
}

#constructor {
	margin-top: 50px;
	margin-left: 10%;
	background: url(images/background/4.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	display: block;
	width: 800px;
	height: 500px;
	position: relative;
}

		
#imgMainClose {
	background-image: url(images/closes/Shirt/1.png);		
}
#imgPositionCloser {
    /* display: block; */
	width: 150px; 
	height: 220px; 
	border: solid 1px gray;
	position: absolute;
	left: 30%;
	top: 15%;	
	overflow: hidden;
	
	/* Центрування Картинки по центру футболки */
    display: flex;
    align-items: center;
    justify-content: center; 
}
#imgPositionCloser img {
	position: relative;
}

.icons {
	width: 20%;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 2%;
}
.icons img {
	width: 50%;
	display: block; 
	padding: 3px;  
}
.icons img:hover {
	border: 1px solid #999;
}

.closer-size {
	width: 30%;
	display: inline-block;
	position: absolute;
	bottom: 2%;	
	left: 40%;
}
.closer-size div {
	display: block; 
	padding: 5px;  
	float: left; 
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 16px; 
   font-weight: bold
}
.closer-size div a {
   display: block; 
   padding: 2px;
    color: black; 
   text-decoration: none;
}
.closer-size div a:hover {
	border: 1px solid #999;
}

#basket {
	position: absolute;
	bottom: 10;
	right: 200;
}
#basket:hover {
	border: 1px solid #999;
}

.result {
	width: 400;
	height: 400;
	position: absolute;
	bottom: 50;
	left: 250;
	background: white;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#pictures {
	display: inline;
	width: 200;
	height: 450;
	overflow: auto;
	float: left;
	background: white;
	position: absolute;
	bottom: 0;
	left: 0;
}
#pictures img{
	display: inline-block;
	float: left;
	padding: 2px;
	width: 50px;
}
#pictures img:hover {
	border: 2px solid blue;
}

#closes {
	display: inline;
	width: 100;
	height: 450;
	overflow: auto;
	float: left;
	background: white;
	position: absolute;
	bottom: 0;
	right: 0;
}
#closes img{
	float: left;
	padding: 2px;
 	width: 95%%;
 }
 #closes img:hover {
	border: 2px solid blue;
}