﻿@model BeStyle.FrontEnd.WebUI.Models.AccountModels.AccountActivationModel

<div>
    @if (Model.IsActivated)
    {
        <div class="container text-center">
            <div class="logo-404">
                <a href="@Url.Action("Login")"><img src="~/App_Themes/Default/Images/logo/BeStyle grey.png" alt="" style="height: 40px;" /></a>
            </div>
            <div class="content">
                <h4>Your email address was succesfully confirmed.</h4>
                <h2><a href="@Url.Action("Login")">Bring me back to Login</a></h2>
            </div>
        </div>
    }
</div>