﻿@using BeStyle.FrontEnd.WebUI.Models.AccountModels
@using MvcReCaptcha.Helpers
@model AccountModel

@{
    ViewBag.Title = "Sign in & Sign up";
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Login/scripts")
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="container">
    <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        @Html.Partial("_RestorePasswordPartial", new RestorePasswordModel())
    </div>
    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Login to your account</h2>
                        @*@using (Ajax.BeginForm("Login", "Account", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "loginSuccess", OnBegin = "loginBegin" }, new {@id = "loginForm"}))*@
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.TextBoxFor(m => m.Login.UserName, new { @class = "input-validation-error form-control", placeholder = @Html.DisplayNameFor(m => m.Login.UserName) })
                            <div>
                                @Html.ValidationMessageFor(m => m.Login.UserName, null, new { @class = "field-validation-error validation-init" })
                            </div>

                            @Html.PasswordFor(m => m.Login.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Login.Password) })
                            <div>
                                @Html.ValidationMessageFor(m => m.Login.Password, null, new { @class = "field-validation-error validation-init" })
                            </div>
                            <p />
                            <span>
                                @Html.CheckBoxFor(m => m.Login.RememberMe)
                                @Html.LabelFor(m => m.Login.RememberMe)
                            </span>
                            <p />
                            <span>
                                @*<span id="restore-password" role="button" tabindex="0" style="cursor: pointer;">Forgot your password?</span>*@
                                @Html.ActionLink("Forgot your password?", "RestorePassword", null, new { id = "restore-password" })
                            </span>
                            <button type="submit" class="btn btn-default">Log in</button>
                        }
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">OR</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>New User Signup!</h2>
                        @*@using (@Html.BeginForm("Registration", "Account", FormMethod.Post))*@
                        @using (Ajax.BeginForm("Registration", "Account", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "registrationSuccess", OnBegin = "formBegin" }, new { }))
                        {
                            @Html.TextBoxFor(m => m.Registration.FirstName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Registration.FirstName) })
                            @Html.ValidationMessageFor(m => m.Registration.FirstName, null, new { @class = "field-validation-error validation-init" })
                            @Html.TextBoxFor(m => m.Registration.LastName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Registration.LastName) })
                            @Html.ValidationMessageFor(m => m.Registration.LastName, null, new { @class = "field-validation-error validation-init" })
                            @Html.TextBoxFor(m => m.Registration.Phone, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Registration.Phone) })
                            @Html.ValidationMessageFor(m => m.Registration.Phone, null, new { @class = "field-validation-error validation-init" })
                            @Html.TextBoxFor(m => m.Registration.Email, new { @class = "form-control", placeholder = "Email", @type = @Html.DisplayNameFor(m => m.Registration.Email) })
                            @Html.ValidationMessageFor(m => m.Registration.Email, null, new { @class = "field-validation-error validation-init" })
                            @Html.TextBoxFor(m => m.Registration.Login, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Registration.Login) })
                            @Html.ValidationMessageFor(m => m.Registration.Login, null, new { @class = "field-validation-error validation-init" })
                            @Html.PasswordFor(m => m.Registration.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Registration.Password) })
                            @Html.ValidationMessageFor(m => m.Registration.Password, null, new { @class = "field-validation-error validation-init" })
                            @Html.PasswordFor(m => m.Registration.PasswordConfirmation, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Registration.PasswordConfirmation) })
                            <div>
                                @Html.ValidationMessageFor(m => m.Registration.PasswordConfirmation, null, new { @class = "field-validation-error validation-init" })
                            </div>
                            @Html.Raw(@Html.GenerateCaptcha())
                            <button type="submit" class="btn btn-default">Signup</button>
                        }
                    </div><!--/sign up form-->
                </div>
            </div>
        </div>
    </section><!--/form-->
</div>
