﻿@model BeStyle.FrontEnd.WebUI.Models.AccountModels.ProfileModel

@{
    ViewBag.Title = "Personal account";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Profile/scripts")
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="container account-info">
    <div class="row">
        @using (Ajax.BeginForm("UserProfile", "Account", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "profileChanged" }, new { @class = "form-horizontal text-center", @id = "profile-form" }))
        {
            @Html.HiddenFor(m => m.UserId)
            <div class="col-sm-10 col-sm-offset-1 signup-form">
                <div class="col-sm-4 col-sm-offset-1">
                    @Html.LabelFor(m => m.Login, new { @class = "text-primary" })
                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Login) })
                    <div>
                        @Html.ValidationMessageFor(m => m.Login, null, new { @class = "field-validation-error validation-init" })
                    </div>
                    @Html.LabelFor(m => m.Email, new { @class = "text-primary" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email) })
                    <div>
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "field-validation-error validation-init" })
                    </div>
                    @Html.LabelFor(m => m.Phone, new { @class = "text-primary" })
                    @Html.TextBoxFor(m => m.Phone, new
                    {
                        @class = "form-control",
                        placeholder = @Html.DisplayNameFor(m => m.Phone)
                    })
                    <div>
                        @Html.ValidationMessageFor(m => m.Phone, null, new { @class = "field-validation-error validation-init" })
                    </div>
                    <input id="change-user-data" type="submit" value="Change" class="btn btn-success form-control" />

                </div>

                <div class="col-sm-4 col-sm-offset-1">
                    @Html.LabelFor(m => m.FirstName, new { @class = "text-primary" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.FirstName) })
                    <div>
                        @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "field-validation-error validation-init" })
                    </div>
                    @Html.LabelFor(m => m.LastName, new { @class = "text-primary" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.LastName) })
                    <div>
                        @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "field-validation-error validation-init" })
                    </div>
                    <a href="@Url.Action("ChangePasswordPartial")" class="btn btn-default" id="change-password">Change password</a>
                </div>

            </div>
        }
    </div>
    <br />
    <br />
</div>
