﻿<div class="modal-content">
    <div class="modal-header">
        <button class="close" type="button" id="btn-close" data-dissmiss="modal">&times;</button>
    </div>

    <div class="modal-body">
        <div class="container text-center" style="width: 510px">
            <div style="width: 490px">
                <a href="@Url.Action("Shop", "Shop")"><img src="~/App_Themes/Default/Images/logo/BeStyle grey.png" style="height: 50px;" alt="" /></a>
            </div>
            <div class="content-404" style="width: 490px">
                <img src="~/App_Themes/Default/images/500/500.png" class="img-responsive" style="height: 300px" alt="" />
                <h1>
                    <b>OPPS!</b> Internal Server Error
                </h1>
                <p>Uh... The server encountered an unexpected condition which prevented it from fulfilling the request.</p>
                <h2>
                    <a href="@Url.Action("Shop", "Shop")" id="">Bring me back Home</a>
                </h2>
            </div>
        </div>
    </div>
</div>