﻿@{
    Layout = null;
    ViewBag.Title = "Internal server error";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | BeStyle</title>
    <link href="~/App_Themes/Default/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/App_Themes/Default/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/App_Themes/Default/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/App_Themes/Default/css/price-range.css" rel="stylesheet">
    <link href="~/App_Themes/Default/css/animate.css" rel="stylesheet">
    <link href="~/App_Themes/Default/css/main.css" rel="stylesheet">
    <link href="~/App_Themes/Default/css/responsive.css" rel="stylesheet">

    @Scripts.Render("~/bundles/common/scripts")

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <div class="container text-center">
        <div class="logo-404">
            <a href="@Url.Action("Shop", "Shop")"><img src="~/App_Themes/Default/Images/logo/BeStyle grey.png" style="height: 50px;" alt="" /></a>
        </div>
        <div class="content-404">
            <img src="~/App_Themes/Default/images/500/500.png" class="img-responsive" alt="" />
            <h1><b>OPPS!</b> Internal Server Error</h1>
            <p>Uh... The server encountered an unexpected condition which prevented it from fulfilling the request.</p>
            <h2><a href="@Url.Action("Shop", "Shop")">Bring me back Home</a></h2>
        </div>
    </div>
</body>
</html>
