﻿@model BeStyle.FrontEnd.WebUI.Models.ConstructorModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Constructor";
}
@section Scripts{
    @Scripts.Render("~/bundles/Constructor/scripts")
}

<body>

    <div id="constructor">
        <div class="result">
            <img id="imgMainClose" data-current-pictire-id="@Model.CurrentProduct.Id" src="data:image/png;base64,@Convert.ToBase64String(Model.CurrentProduct.Picture)" />
            <div>
                <h2 id="productPrice">$@Model.CurrentProduct.Price</h2>
                <h4 id="logoScale">Logo: </h4>
            </div>
            <div id="front-back">
                <img id="productfront" class="hvr-pulse-shrink" style="cursor: pointer" src="data:image/png;base64,@Convert.ToBase64String(Model.CurrentProduct.Picture)" />
                <img id="productback" class="hvr-pulse-shrink" style="cursor: pointer" src="data:image/png;base64,@Convert.ToBase64String(Model.CurrentProduct.PictureBack)" />
            </div>
            <div id="imgPositionCloser"></div>
        </div>

        <div class="btn-group closer-size" data-toggle="buttons">
            @foreach (var size in Model.Sizes)
            {
                <label class="btn btn-default btn-size" data-size-id="@size.Id">
                    <input type="radio" value="@size.Size" /> @size.Size
                </label>
            }
        </div>

        <div id="basket">
            <button type="button" class="addFromConstructor btn btn-primary center-block" data-size-id="1" width="150">Add to cart</button>
        </div>

        <div class="btn-group-sm logo-size">
            <span class="zoom zoomIn"><img src="~/App_Themes/Default/Images/constructor/icon/zoom-in.png" /></span>
            <span class="zoom zoomOut"><img src="~/App_Themes/Default/Images/constructor/icon/zoom-out.png" /></span>
            <span class="deletePicture zoom"><img src="~/App_Themes/Default/Images/constructor/icon/bin2.png" /></span>
        </div>

        <div id=pictures>
            @if (Model.UserLogos != null)
            {
                foreach (var logo in Model.UserLogos)
                {
                    {
                        <div class="single-products2 hvr-buzz-out" style="cursor: pointer">
                            <div class="productinfo2 text-center hvr-push" style="position:absolute">
                                <img class="logo-picture" data-logo-id="@logo.Id" src="data:image/png;base64,@Convert.ToBase64String(logo.Picture)" alt="" />
                                <i class="fa fa-user" style="position:absolute; top:-4px; right:-4px; color:orange;"></i>
                            </div>
                        </div>
                    }
                }
            }
            @foreach (var logo in Model.Logos)
            {
                if (!logo.IsUser)
                {
                    <div class="single-products2 hvr-buzz-out" style="cursor: pointer">
                        <div class=" productinfo2 text-center">
                        <img class="logo-picture" data-logo-id="@logo.Id" src="data:image/png;base64,@Convert.ToBase64String(logo.Picture)" alt="" />
                    </div>
                    </div>
                }
            }
        </div>

        <div id="closes">
            @foreach (var product in Model.Products)
            {
                <div class="single-products">
                    <div class="productinfo text-center hvr-push" style="cursor: pointer">
                        <img class="product-picture" id="product-@product.Id" data-product-id="@product.Id" data-product-price="@product.Price" data-product-category="@product.CategoryId" data-product-back-picture="data:image/png;base64,@Convert.ToBase64String(product.PictureBack)" src="data:image/png;base64,@Convert.ToBase64String(product.Picture)" alt="" />
                        <h5>$@product.Price</h5>
                    </div>
                </div>
            }
        </div>

        <div id="my" class="file-input btn btn-block btn-primary">
            Add Your Logo
            <input id="choseImageButton" type="file" name="photo" multiple accept="image/*,image/jpeg" required>
        </div>
        <img src="" id="userImage" />

    </div>
    <br>
    <br>
    <br>
</body>
