﻿.validation-init {
    color: red;
}

.account-info input {
    margin-bottom: 10px;
}

.input-validation-error {
    background: pink;
    border: 1px solid red;
}

.badge-info {
    background-color: #269abc;
}

.constructor-link {
    width: 80px;
}

    .constructor-link:hover {
        background: #FE980F;
    }

.product-image {
    height: 400px;
}

.product-image-border {
    margin-top: 20px;
}

.orange-tooltip + .tooltip > .tooltip-inner {
    background-color: #FE980F;
}

.orange-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: transparent;
}

.RemoveLink:hover {
    cursor: pointer;
}

.zoom:hover {
    cursor: pointer;
}

.ui-slider-range {
    background: #f6931f;
}

.ui-slider-handle:hover {
    cursor: pointer;
}