﻿.reviews-init {
    background: #40403E;
    border-bottom: 1px solid #ddd;
}

.loader {
    position:fixed;
    z-index: 800;
    background-image: url('/App_Themes/Default/Images/loading.gif');
    background-repeat: no-repeat;    
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #CCCCCC;
    display: none;
}

.adding { 
display:none; 
position: absolute; 
padding: 20px; 
border-radius: 2px; 
right: 10px; 
bottom: 10px; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}
