﻿@model IList<BeStyle.Entities.ProductEntity>

@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="data:image/png;base64,@Convert.ToBase64String(item.Picture)" alt="" />
                    <h2>$@item.Price</h2>
                    <p>@item.Name</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>$@item.Price</h2>
                        <p>@item.Name</p>
                        <a href="@Url.Action("ProductPartial", new {id = item.Id})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

