﻿@model BeStyle.FrontEnd.WebUI.Models.ProductModel

@{
    ViewBag.isCommentsHidden = true;
}

<div class="modal-content">

    <div class="modal-header">
        <button class="close" type="button" id="btn-close" data-dissmiss="modal">&times;</button>
        <div class="thumbnail product-image-border">
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.Product.Picture)" style="height: 400px;">
        </div>
    </div>
    <div class="modal-body">
        <div class="caption">
            <h4 class="pull-right">$@Model.Product.Price</h4>
            <h4 class="pull-left">@Model.Product.Name</h4>
        </div>
        <br />
        <br />
        <br />
        <div class="btn-group" data-toggle="buttons">
            @foreach (var size in Model.Sizes)
            {
                <label class="btn btn-default btn-size" data-size-id="@size.Id">
                    <input type="radio" value="@size.Size" /> @size.Size
                </label>
            }
        </div>
        <div class="panel-group pull-right orange-tooltip" title="Open product in constructor" data-toggle="tooltip" data-placement="bottom">
            <a href="@Url.Action("Index", "Constructor")">
                <img src="~/App_Themes/Default/Images/Icons/vector-icon.png" class="constructor-link hvr-pulse-shrink" alt=""/>
            </a>
        </div>
        <br />
        <br />
        <p>
            <h4>Description: @Model.Product.Description</h4>
        </p>
        <br />
        <div class="adding">
        </div>
    </div>
    <div class="modal-footer">
        <div id="growl"></div>
        <div id="data-for-add" data-size-id="1"></div>
        <button type="button" class="AddLink Submit btn btn-primary center-block" width="150" data-product-id="@Model.Product.Id">Add to cart</button>
    </div>

    @* ***************COMMENTS***************** *@

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a id="comments-state" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Show Comments...</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="category-tab shop-details-tab">
                        @*category-tab*@

                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="reviews">
                                <div class="col-sm-12">

                                    @{
                                        var hide = Model.IsAuthenticated ? "" : "hide";
                                        <div class="@hide">
                                            <p>
                                                <b>Write Your Review</b>
                                            </p>

                                            <form action="#">
                                                <textarea id="commentText" name="" height="60"></textarea>
                                                <button type="button" class="AddComment Submit btn btn-primary center-block" data-product-id="@Model.Product.Id" width="150">Submit</button>
                                                <br>
                                            </form>
                                        </div>
                                    }

                                    <div class="col-sm-12">
                                        <ul class="nav nav-tabs" style="background: #40403E;">
                                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews (@Model.Comments.Count)</a></li>
                                        </ul>
                                    </div>

                                    <div id="all-comment">
                                        <div id="new-comment"></div>
                                        @foreach (var comment in Model.Comments)
                                        {
                                            <ul>
                                                <li><a href=""><i class="fa fa-user">@comment.UserName</i></a></li>
                                                <li><a href=""><i class="fa fa-clock-o">@comment.CommentTime</i></a></li>
                                                <p>@comment.Comment</p>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--/category-tab-->

                </div>
            </div>
        </div>
    </div>



</div>