﻿@model BeStyle.FrontEnd.WebUI.Models.CartModel

@{
    ViewBag.Title = "Shopping Cart's Review";
}
@section Scripts{
    @Scripts.Render("~/bundles/Cart/scripts")
}

<body>
    <div id="update-message">
    </div>    

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <div id="cart_items">
                    <table class="table table-condensed text-center">
                        <thead>
                            <tr class="cart_menu">
                                @*<td class="image">Item</td>
                                <td class="description"></td>
                                <td class="description">Size</td>
                                <td class="image">Logo</td>
                                <td class="price">Price</td>
                                <td class="quantity">Quantity</td>
                                <td class="total">Total</td>*@
                                <td class="image">Item</td>
                                <td class="description"></td>
                                <td class="description">Size</td>
                                <td class="image">Front Logo</td>
                                <td class="image">Back Logo</td>
                                <td class="price">Price</td>
                                <td class="quantity">Quantity</td>
                                <td class="total">Total</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Cart.Items)
                            {                                                        
                                <tr class="rows">
                                    <td class="cart_product">
                                        <a href=""><img src="data:image/png;base64,@Convert.ToBase64String(item.Product.Picture)" alt="" height="50" width="50"></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@item.Product.Name</a></h4>
                                        <p>@item.Product.Description</p>
                                    </td>
                                    <td class="cart_price">
                                        <p>@item.Size.Size</p>
                                    </td>

                                    <td class="cart_product">
                                        @if (item.LogoFront.Id != null)
                                        {
                                            <a href=""><img src="data:image/png;base64,@Convert.ToBase64String(item.LogoFront.Picture)" alt="" height="50" width="50"></a>
                                        }
                                    </td>

                                    <td class="cart_product">
                                        @if (item.LogoBack.Id != null)
                                        {
                                            <a href=""><img src="data:image/png;base64,@Convert.ToBase64String(item.LogoBack.Picture)" alt="" height="50" width="50"></a>
                                        }
                                    </td>

                                    <td class="cart_price">
                                        <p>$@item.Product.Price</p>
                                    </td>

                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <input class="cart_quantity_input" id="quantity-@item.Product.Id" type="text" value="@item.Quantity" autocomplete="off" size="2">
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">$@item.TotalPrice</p>
                                    </td>
                                    <td class="cart_delete">
                                    <td class="cart_delete">
                                    <td class="cart_delete">
                                        <a class="RemoveLink" data-id="@item.Product.Id" data-size-id="@item.Size.Id"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td id="total" class="cart_total">
                                    @*<p class="cart_total_price">$@Model.Cart.CalcTotalPrice()</p>*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class=cart_quantity_button>
                <div>
                    <button type="button" class="Submit btn btn-primary center-block" width="150">Submit</button>
                </div>
            </div>
        </div>
    </section> <!--/#cart_items-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>
